#actions > .dot {
	position: fixed;
	left: 10px;
	top: 10px;
	display: flex;
	align-items: center;
}
#actions > .dot > i {
	font-size: 90%;
}
#minimize { left: 35px !important; }
#settings { left: 60px !important; }