#actions > .dot {
	position: fixed;
	left: 10px;
	top: 10px;
	display: flex;
	align-items: center;
}
#actions > .dot > i {
	font-size: 90%;
}
#minimize { left: 30px !important; }
#maximize { left: 50px !important; }


#status {
	position: fixed;
	top: 7px;
	right: 7px;
	z-index: 100;
	opacity: 1;
	transition: .3s;
}
#status > span {
	font-size: 14px;
}
#status.hidden {
	opacity: 0;
}