@font-face {
	src: url(./apercu.woff);
	font-family: "Apercu";
}
@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src: url(./material.woff2) format('woff2');
}


* {
	font-family: "Apercu";
	user-select: none;
}
:root {
	--red: #ff3f3f;
	--green: #0ccc19;
	--blue: #6970ff;
	--orange: #fcba03;
}






/*
ELEMENTS
*/
html, body {
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin: 0;
}
i {
	width: 22px;
	font-family: 'Material Icons Round';
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}


/*
CLASSES
*/
.titlebar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
.titlebar-button {
	-webkit-app-region: no-drag;
}
.dot {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 50%;
}
.dot.red	{ background-color: var(--red);		}
.dot.blue	{ background-color: var(--blue);	}
.dot.green	{ background-color: var(--green);	}
.dot.orange	{ background-color: var(--orange);	}
span.red	{ color: var(--red); }
span.blue	{ color: var(--blue); }
span.green	{ color: var(--green); }
span.orange	{ color: var(--orange); }



/*
IDS
*/
#main-container {
	background-color: #000;
	width: 100%;
	height: 100%;
	border-radius: 7.5px;
	transition: .3s;
	opacity: 0;
}
#main-container.visible {
	opacity: .85;
}

#status-dot {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 5px;
	height: 5px;
}

#notifications {
	position: fixed;
	
	/* left: 100px; */
	left: 0;
	right: 0;
	margin: auto;

	top: 10px;
	width: fit-content;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#notifications > .notification {
	margin-right: 5px;
}
#notifications > .notification > img {
	height: 15px;
}
#notification-details {
	position: fixed;
	top: 35px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	transition: .2s;
	background-color: rgba(255, 255, 255, 0.75);
	width: 90%;
	border-radius: 7px;
}
#notification-details > .content {
	padding: 7px;
}
#notification-details > .rect {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 4px;
	transform: rotate(45deg);
}
#notification-details.visible {
	opacity: 1;
}
#notification-details > * {
	color: #000;
}
#notification-details > .content > p {
	margin: 0;
	font-size: 14px;
}
#notification-details > .content > p:nth-child(2) {
	font-size: 12px;
}
