@font-face {
	src: url(./apercu.woff);
	font-family: "Apercu";
}

* {
	font-family: "Apercu";
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin: 0;
}
#main-container {
	background-color: #000;
	opacity: 0.85;
	width: 100%;
	height: 100%;
	border-radius: 7.5px;
}